.ServiceList-root {
}

.ServiceList-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ServiceList-item {
  flex: 1 1 auto;

  & + .ServiceList-item {
    margin-top: 2rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .ServiceList-root {
    .ServiceList-heading {
      text-align: left;
    }

    .ServiceList-item {
      flex: 0 0 100%;

      &:nth-child(2n) {
        .ServiceCard-image {
          order: 2;
        }

        .ServiceCard-content {
          order: 1;
        }
      }

      & + .ServiceList-item {
        margin-top: 5rem;
      }

      .ServiceCard-root {
        width: 100%;

        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .ServiceCard-image {
          flex: 0 0 50%;
          height: 18.5rem;
        }

        .ServiceCard-content {
          flex: 0 0 calc(50% - 2rem);
          padding: 0;

          .ServiceCard-title {
            margin-top: 0;
          }
        }
      }
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
