.EventCard-root {
  padding: 1.25rem;
  background: white;

  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.EventCard-info {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: left;

  .EventCard-type {
    flex: 0 1 auto;
  }

  .EventCard-paid {
    flex: 1 1 auto;
    margin-left: 1rem;
  }

  .EventCard-title {
    flex: 0 0 auto;
  }

  .EventCard-date {
    flex: 0 0 auto;
  }

  .EventCard-description {
    display: none;
  }

  .EventCard-link {
    flex: 0 0 auto;
    margin: 1.5rem 0 1rem 0;

    a {

    }

    .icon {
      margin-left: 0.375rem;
    }
  }
}

.EventCard-image {
  display: block;
  height: 14.5rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}