.EventList-root {
  background: #F5F6F7;
  padding: 0 0 2.5rem 0;
}


.EventList-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .EventList-item {
    flex: 0 0 100%;
    margin: 0.75rem 0;

    display: flex;

    .EventCard-root {
      flex-grow: 1;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  $gridSpaceBetween: 1rem;

  .EventList-list {
    .EventList-item {
      flex: 0 0 calc((100% - #{$gridSpaceBetween}) / 2);

      margin: $gridSpaceBetween/2 0;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  $gridSpaceBetween: 1.5rem;

  .EventList-heading {
    text-align: left;
  }

  .EventList-list {
    .EventList-item {
      flex: 0 0 calc((100% - #{2 * $gridSpaceBetween}) / 3);

      margin: $gridSpaceBetween/2 0;

      .EventCard-root {
        padding: $gridSpaceBetween;
      }

      &:nth-child(4n+4) {
        flex: 0 0 100%;

        .EventCard-root {
          flex-direction: row;
          justify-content: space-between;

          .EventCard-info {
            flex: 0 0 calc((100% - 2 * #{$gridSpaceBetween}) / 3 - #{$gridSpaceBetween});

            .EventCard-description {
              flex: 1 1 auto;
              display: flex;
              overflow: hidden;
            }
          }

          .EventCard-image {
            flex: 0 0 calc((100% - 2 * #{$gridSpaceBetween}) / 3 * 2 + #{$gridSpaceBetween});
          }
        }
      }
    }
  }
}
