.EventList {
  background: #F5F6F7;
}


// Default (mobile)
.EventList {
  padding: 0 1rem 2.5rem 1rem;

  li + li {
    margin-top: 1.5rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
