.Team {

  .swiper-container {
    .swiper-pagination {
      bottom: 23.5rem;
    }
  }

  .slide-content {
    .photo {
      height: 16.75rem;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .info {
      text-align: left;
      padding: 0 1rem;
      margin: 3.5rem 0 0 0;

      .name {
        margin: 0.5rem 0 0.5rem 0;
      }

      .description {
        height: 15rem;
        overflow: hidden;
        text-wrap: normal;
        white-space: normal;
      }
    }
  }
}
